@tailwind base;
@tailwind components;
@tailwind utilities;

.blob {
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 35px gray);
  margin-right: 8px;
  height: 70px;
  width: 70px;
  animation-name: blobby;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  mix-blend-mode: luminosity;
}
@keyframes blobby {
  0% {
    border-radius: 50%;
  }
  20% {
    border-radius: 41% 59% 41% 59% / 53% 51% 49% 47%;
    transform: rotate(36deg);
  }
  40% {
    transform: rotate(72deg);
    border-radius: 43% 57% 41% 59% / 53% 52% 48% 47%;
  }
  80% {
    border-radius: 48% 52% 41% 59% / 48% 58% 42% 52%;
    transform: rotate(108deg);
  }
  100% {
    transform: rotate(144deg);
    border-radius: 54% 46% 60% 40% / 43% 55% 45% 57%;
  }
}
